.monContainer {
    border: solid 2px darkcyan;
    border-radius: 15px;
    box-shadow: 5px 6px 8px grey;
    margin: 80px auto;
}


.smallContainer {
    width: 100%;
    margin: 30px auto;
}

.myBadge {
    margin-top: -32px;
}

.myBadge:hover {
    color:blue; 
    background: white;
}
