
<div class="container monContainer clearBoth">
    <span class = "badge  badge-primary badge-pill myRight  myBadge">{{messages.length}} posts</span>
    <div class="container ">
        <app-message *ngFor="let message of messages" [messageInput]="message" (delete)="deleteMessage(message)">
        </app-message>
    </div>
    <div class="smallContainer">
        <mat-icon aria-hidden="false" class="myGreen icon-utilisateur myCursorPointer "
            aria-label="ajouter un objet" (click)="addFormMessage()">add_circle</mat-icon>

    </div>
    <div *ngIf="isCreateMessage" class="clearBoth margin-top20 p-3">
        <form #f="ngForm" (ngSubmit)="validateMessage(f.value)"  [formGroup]="messageForm" >
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                        <select formControlName="utilisateurId" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option [value]="utilis.id" *ngFor="let utilis of utilisateurs">             {{utilis.login}}</option>
                        </select>

                </div>


                <div class="col-auto my-1">
                        <div class="col">
                                <input type="text" class="form-control"  formControlName="content" placeholder="Messages ... ">
                        </div>
                </div>
                <div class="col-auto my-1 clearBoth">
                    <button type="submit" class="btn btn-primary" >Submit</button>
                </div>
            </div>
        </form>

    </div>
</div>