<div *ngIf="utilisateur" >
<mat-card class="example-card utilisateur-objet">
    <mat-card-header>
      <mat-card-title>{{utilisateur.utilisateur.nom}}, {{utilisateur.utilisateur.prenom}}</mat-card-title>
      
    </mat-card-header>
    <a  routerLink="/utilisateurs/{{utilisateur.utilisateur.id}}">
    <img mat-card-image src="{{utilisateur.utilisateur.urlAffiche ? utilisateur.utilisateur.urlAffiche : 'https://upload.wikimedia.org/wikipedia/fr/thumb/2/2b/GITS_laughingman.svg/800px-GITS_laughingman.svg.png'}}" alt="">
    </a>
    <mat-card-subtitle>{{utilisateur.utilisateur.login}}</mat-card-subtitle>
    <mat-card-actions>
      
    </mat-card-actions>
</mat-card>

{{ editerObjet | json}}

<mat-card  *ngIf="objet" class="example-card">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{this.url ? this.url : 'https://upload.wikimedia.org/wikipedia/fr/thumb/2/2b/GITS_laughingman.svg/800px-GITS_laughingman.svg.png'}}" alt="Photo of a {{objet.description}} ">
    <mat-card-content>
      <p>{{objet.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <mat-icon aria-hidden="false" class="myGreen icon-utilisateur myCursorPointer"   aria-label="ajouter un objet" (click)="editerObjet(objet)"  >edit</mat-icon>
      <!--
         <mat-icon aria-hidden="false" class="myRed icon-utilisateur myCursorPointer" (click)="deleteUtilisateur(objet)" >delete</mat-icon>
      
      -->
     
    </mat-card-actions>
  </mat-card>
</div>


