
<div  *ngIf="message" class="media text-muted pt-3">
        <a routerLink="/utilisateurs/{{utilisateur.id}}">
            <img  class="mr-2 rounded myImg" src="{{utilisateur.urlAffiche}}" data-holder-rendered="true">
        </a>
     <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">{{utilisateur.login}}</strong>
        {{message.content}} 
    </p>
    <span><mat-icon aria-hidden="false" class="myRed icon-utilisateur myCursorPointer" (click)="deleteMessage(message)" >delete</mat-icon>
    </span>
  </div>
