img {
    max-width: 200px;
    max-height: 120px;
    padding:6px 15px;
}

div {
    display: inline;
    margin : 10px; 
}

.mat-card {
    display: inline-grid;
    border: solid 1px grey;
    /* padding: 5px; */
    margin: 5px 10px;
    box-shadow: 2px 2px 2px grey;
    width: 200px;
    height: 200px;
}
