
<div class="container">
        <div class="active-purple-4 mb-4" class="divSearch">
                <input class="form-control inputSearch" type="text" placeholder="Search" aria-label="Search"  [(ngModel)]="valueSearch">
                <input type="submit" (click)="maRechercheObjet()" class="primary inputSearch">  
            </div>
</div>

<div class="container monContainer">
    <div class="container" *ngFor="let o of objets"> 
        <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{o.description | slice:0: 11}}</mat-card-title>
                </mat-card-header>
                <a routerLink="/objets/{{o.id}}">
                    <img mat-card-image 
                    src="{{o.urlAffiche ? o.urlAffiche : 'https://www.labaleine.fr/sites/baleine/files/image-not-found.jpg'}}" alt="">
                </a>
            </mat-card>
    </div>

</div>